/Tcc-master/ImportXMLErro/build/
/Tcc-master/ImportXMLErro/dist/
/Tcc-master/ImportXMLErro/nbproject/private/
/ControleEstoque/nbproject/private/
/ControleEstoque/build/
/DoSearch/nbproject/private/
/DoSearch/build/